<section class="banner">
  <div class="container">
    <div class="wrapper">
      <div class="title">
        <p>They already trust us</p>
      </div>
      <div class="header__row row">
        <div class="card"><img src="../main_project/Clients/hillel.svg" alt="hillel"></div>
        <div class="card"><img src="../main_project/Clients/wannabiz.svg" alt="wannabiz"></div>
        <div class="card"><img src="../main_project/Clients/tapgerine.svg" alt="tapgerine"></div>
        <div class="card"><img src="../main_project/Clients/3dlook.svg" alt="3dlook"></div>
      </div>
      <div class="body__row row">
        <div class="card"><img src="../main_project/Clients/orangear.svg" alt="orangear"></div>
        <div class="card"><img src="../main_project/Clients/adtelligent.svg" alt="adtelligent"></div>
        <div class="card"><img src="../main_project/Clients/clickky.svg" alt="clickky"></div>
        <div class="card"><img src="../main_project/Clients/eco-leasing.svg" alt="eco-leasing"></div>
      </div>
      <div class="footer__row row">
        <div class="card"><img src="../main_project/Clients/ingratek.svg" alt=""></div>
        <div class="card"><img src="../main_project/Clients/city-par.svg" alt=""></div>
        <div class="card"><img src="../main_project/Clients/artprint.svg" alt=""></div>
        <div class="card"><img src="../main_project/Clients/ultimatecard.svg" alt=""></div>
      </div>
    </div>
  </div>
</section>