<footer>
  <div class="container">
    <div class="news">
        <div class="wrapper">
          <div class="row">
            <a href="#" class="arrow">publications</a>
            <h2 class="hyper">We have something to hell</h2>
          </div>
          <div class="section__cards">
            <div class="card item1">
              <div class="img__card"></div>
              <div class="title__card">
                <a href="#">Equity associate</a>
              </div>
              <div class="data__card">
                <p>april 22</p>
              </div>
              <div class="description">
                <p>I'm a jun on projects. I am a co-owner of a law firm. How it happened. Before entering my parents told me that if I…</p>
              </div>
            </div>
            <div class="card item2">
              <div class="img__card"></div>
              <div class="title__card">
                <a href="#">
                  Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR
                </a>
              </div>
              <div class="data__card">
                <p>september 29</p>
              </div>
              <div class="description">
                <p>And why the recovery of 50 million euros could be a fateful precedent According to Mind.ua January 21 National Commission for Data Protection.</p>
              </div>
            </div>
            <div class="card item3">
              <div class="img__card">
                <!-- <img src="" alt=""> -->
              </div>
              <div class="title__card">
                <a href="#">
                  Millennial Testament
                </a>
              </div>
              <div class="data__card">
                <p>August 19</p>
              </div>
              <div class="description">
                <p>What and how modern vloggers, opinion leaders and crypto-millionaires will inherit A typical legacy of the Ukrainian generation X looks like this: an apartment in…</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <section class="footer">
      <div class="wrapper">
        <div class="row__top">
          <div class="box1">
            <p>Kyiv, Mechnikova str, 14/1</p>
            <a href="#">on map</a>
          </div>
          <div class="box2"><p>© 2021 HLEGAL Law company, LLC</p></div>
        </div>
        <div class="row__bottom">
          <ul>
            <li>
              <a href="http://facebook.com">
                <i class="btn__facebook"></i>
              </a>
            </li>
            <li>
              <a href="tel:+380800211927">0800 211 927</a>
            </li>
            <li>
              <a href="#">contact@forstudy.space</a>
            </li>
            <li>© 2021 HLEGAL Law company, LLC</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>