<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/messeg__slider.css">
  <link rel="stylesheet" href="../styles/basic_style.css">
  <link rel="stylesheet" href="../styles/media_screen_home.css">
  <title>Document</title>
</head>
<body>
  <div class="main">
    <section class="message__sliders">
      <div class="container">
        <section class="carousel">
          <div class="tabbed">
            <div class="tabs">
              <div class="card">
                <div class="photo__card">
                  <!-- <img src="../main_project/photos/Alexander_Alexandrovsky.svg" alt=""> -->
                </div>
                <div class="description">
                  <a href="#" class="arrow">team</a>
                  <h3 class="hyper">We are used to taking responsibility and always guarantee honest, timely assistance, even in situations where most people are powerless.</h3>
                  <p>Alexandr Alexandrovskiy</p>
                  <p>managing partner</p>
                </div>
              </div>
            </div>
            <div class="btn__slider">
              <input type="radio" name="button" id="btn__scroll1" checked>
              <label for="btn__scroll1"></label>
              <input type="radio" name="button" id="btn__scroll2">
              <label for="btn__scroll2"></label>
              <input type="radio" name="button" id="btn__scroll3">
              <label for="btn__scroll3"></label>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</body>
</html>