<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/navigation.css">
  <link rel="stylesheet" href="../styles/basic_style.css">
  <title>nav__bar</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="wrapper">
        <section class="nav">
          <div class="contacts">
            <ul>
              <li class="select_language">
                <input type="radio" name="lang" id="nav_bar1">
                <label for="nav_bar1">ук</label>
                <input type="radio" name="lang" id="nav_bar2">
                <label for="nav_bar2">ру</label>
                <input type="radio" name="lang" id="nav_bar3" checked>
                <label for="nav_bar3">en</label>
              </li>
              <li>
                <a href="#">Kyiv, Mechnikova str.,14/1</a>
              </li>
              <li>
                <a href="tel:+380800211927">0800 211 927</a>
              </li>
              <li>
                <a href="http://facebook.com">
                  <i class="btn__facebook"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="wrapper__logo">
            <div class="logo"><a href="../main_project/HomePage.html"></a></div>
            <div class="slash"></div>
            <div class="link"></div>
          </div>

          <nav>
            <a href="../pages/burger.html" class="burger"></a>
            <ul>
              <li><a href="../pages/about.html">about us</a></li>
              <li><a href="../pages/service.html">services</a></li>
              <li><a href="../pages/team.html">team</a></li>
              <li><a href="../pages/publications.html">publications</a></li>
              <li><a href="../pages/contact.html">contact</a></li>
            </ul>
          </nav>
        </section>
        <div class="middle">
          <div class="string">
            <h1>you legal solutions provider</h1>
          </div>
          <div class="btn__hover">
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>
</html>