.banner .container {
  margin: 0px auto;
}
.banner .container .wrapper .title {
  color: #323264;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.banner .container .wrapper .row {
  display: flex;
  flex-direction: row;
}
.banner .container .wrapper .row .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/4);
  height: 120px;
}
.banner .container .wrapper .row .card img {
  padding: 35px 0px;
  background: no-repeat center;
  cursor: pointer;
  width: 150px;
}
.banner .container .wrapper .header__row {
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
}
.banner .container .wrapper .header__row .card:nth-child(1) {
  background: #24A3FF;
}
.banner .container .wrapper .header__row .card:nth-child(2) {
  background: #143646;
}
.banner .container .wrapper .header__row .card:nth-child(3) {
  background: #F48B30;
}
.banner .container .wrapper .header__row .card:nth-child(4) {
  background: #9E4DC3;
}
.banner .container .wrapper .body__row .card:nth-child(1) {
  background: #FD9339;
}
.banner .container .wrapper .body__row .card:nth-child(2) {
  background: #E2E2E4;
}
.banner .container .wrapper .body__row .card:nth-child(3) {
  background: #C71C36;
}
.banner .container .wrapper .body__row .card:nth-child(4) {
  background: #DCF3F9;
}
.banner .container .wrapper .footer__row {
  border-radius: 0px 0px 12px 12px;
  overflow: hidden;
}
.banner .container .wrapper .footer__row .card:nth-child(1) {
  background: #EAEAEA;
}
.banner .container .wrapper .footer__row .card:nth-child(2) {
  background: #282240;
}
.banner .container .wrapper .footer__row .card:nth-child(3) {
  background: #1D4568;
}
.banner .container .wrapper .footer__row .card:nth-child(4) {
  background: #000000;
}
