.background__container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
}
.background__container header .container {
  width: 100%;
}
.background__container header .container .wrapper {
  background: url(../icon/h_logo_1000.svg) no-repeat center;
}
.background__container header .container .wrapper .nav {
  display: grid;
  padding-top: 30px;
}
.background__container header .container .wrapper .nav .contacts {
  display: flex;
  grid-area: 1/2;
  flex-direction: row-reverse;
  min-width: 478px;
  margin-bottom: 10px;
}
.background__container header .container .wrapper .nav .contacts > ul {
  display: flex;
  align-items: center;
}
.background__container header .container .wrapper .nav .contacts > ul .select_language input {
  display: none;
}
.background__container header .container .wrapper .nav .contacts > ul .select_language label {
  display: block;
  float: left;
  padding: 5px 7px;
  margin-right: 5px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.background__container header .container .wrapper .nav .contacts > ul .select_language label:hover {
  background: rgba(177, 165, 165, 0.247);
}
.background__container header .container .wrapper .nav .contacts > ul .select_language > input:checked + label {
  background: red;
}
.background__container header .container .wrapper .nav .contacts > ul > li {
  margin-right: 15px;
  position: relative;
}
.background__container header .container .wrapper .nav .contacts > ul > li::before {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 7px;
  left: -11px;
  border-radius: 50%;
  background: white;
}
.background__container header .container .wrapper .nav .contacts > ul > li:nth-child(1)::before {
  display: none;
}
.background__container header .container .wrapper .nav .contacts > ul > li:nth-child(2) a {
  color: grey;
  font-size: 14px;
  font-weight: 400;
}
.background__container header .container .wrapper .nav .contacts > ul > li:last-child {
  margin: 0;
}
.background__container header .container .wrapper .nav .contacts > ul > li:last-child::before {
  top: 9px;
}
.background__container header .container .wrapper .nav .contacts > ul > li .btn__facebook {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../icon/facebook_header.svg) no-repeat center;
}
.background__container header .container .wrapper .nav .contacts > ul > li a {
  color: white;
  font-weight: 700;
}
.background__container header .container .wrapper .nav .contacts > ul > li a:hover {
  color: #F0145A;
}
.background__container header .container .wrapper .nav .wrapper__logo {
  grid-area: 1/1/3/2;
  display: flex;
}
.background__container header .container .wrapper .nav .wrapper__logo .logo {
  display: inline-block;
  width: 130px;
  height: 60px;
  background: url(../icon/header_logo.svg) no-repeat;
  background-size: cover;
}
.background__container header .container .wrapper .nav .wrapper__logo .logo > a {
  display: block;
  width: 130px;
  height: 60px;
}
.background__container header .container .wrapper .nav .wrapper__logo .slash {
  display: inline-block;
  width: 25px;
  height: 60px;
  background: url(../icon/slash.svg) no-repeat top;
}
.background__container header .container .wrapper .nav .wrapper__logo .link {
  font-family: 'Montserrat';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.background__container header .container .wrapper .nav nav {
  display: flex;
  flex-direction: row-reverse;
  grid-area: 2/2;
}
.background__container header .container .wrapper .nav nav .burger {
  display: none;
}
.background__container header .container .wrapper .nav nav .active__page {
  color: #F0145A;
  text-shadow: 0px 3px 4px #f0145a69;
  text-decoration: revert;
  text-decoration-color: #F0145A;
}
.background__container header .container .wrapper .nav nav ul {
  display: flex;
}
.background__container header .container .wrapper .nav nav ul li {
  margin-left: 15px;
}
.background__container header .container .wrapper .nav nav ul li a {
  font-weight: 700;
  color: white;
}
.background__container header .container .wrapper .nav nav ul li a:hover {
  color: #F0145A;
  text-decoration: revert;
}
.background__container header .container .wrapper .middle .string {
  text-align: center;
  margin: 266px 0 275px;
}
.background__container header .container .wrapper .middle .string p {
  color: white;
  font-size: 36px;
  line-height: 46px;
}
.background__container header .container .wrapper .middle .btn__hover {
  text-align: center;
  padding: 30px 0px 30px;
}
.background__container header .container .wrapper .middle .btn__hover a {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(../icon/btn_regular.svg) no-repeat center;
}
.background__container header .container .wrapper .middle .btn__hover a:hover {
  background: url(../icon/btn_hover.svg) no-repeat center;
}
.background__container header .container .wrapper .nav .wrapper__logo .slash {
  display: none;
}
.background__container .carousel {
  padding: 60px;
}
.background__container .carousel .container .tabbed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.background__container .carousel .container .tabbed .free__box input {
  display: none;
}
.background__container .carousel .container .tabbed .free__box input:checked + label {
  color: transparent;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.background__container .carousel .container .tabbed .free__box label {
  color: grey;
  display: block;
  font-size: 38px;
  font-weight: 700;
  text-align: end;
  padding: 15px 30px 15px 0px;
  white-space: nowrap;
  cursor: pointer;
}
.background__container .carousel .container .tabbed .free__box label:hover {
  color: #F0145A;
}
.background__container .carousel .container .tabbed .line {
  display: flex;
  height: 302px;
  border-radius: 12px;
  border: 2px solid grey;
  margin: 0 30px;
}
.background__container .carousel .container .tabbed .tabs div h2 {
  color: white;
}
.background__container .carousel .container .tabbed .tabs div p {
  color: white;
  margin-top: 30px;
  max-width: 861px;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}
.background__container #main {
  display: flex;
  justify-content: center;
  padding: 60px 50px;
}
.background__container #main .container .row {
  padding: 20px;
}
.background__container #main .container .body__main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.background__container #main .container .body__main .card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: calc(100%/4 - 20px);
}
.background__container #main .container .body__main .card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.background__container #main .container .body__main .card a {
  margin: 15px 0px;
}
.background__container #main .container .body__main .card p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.main .message__sliders {
  display: flex;
  justify-content: center;
}
.main .message__sliders .container {
  margin: 80px 70px;
}
.main .message__sliders .container .carousel .tabbed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .message__sliders .container .carousel .tabbed .tabs .card {
  display: flex;
  background: #F5F5FA;
  border-radius: 12px;
}
.main .message__sliders .container .carousel .tabbed .tabs .card .photo__card {
  min-width: 400px;
  border-radius: 12px 0 0 12px;
  background: url(../photos/Alexander_Alexandrovsky.svg) no-repeat center;
}
.main .message__sliders .container .carousel .tabbed .tabs .card .description {
  padding: 30px;
  text-align: start;
}
.main .message__sliders .container .carousel .tabbed .tabs .card .description a {
  text-transform: uppercase;
}
.main .message__sliders .container .carousel .tabbed .tabs .card .description h3 {
  margin: 15px 0px 30px;
}
.main .message__sliders .container .carousel .tabbed .tabs .card .description p {
  color: grey;
}
.main .message__sliders .container .carousel .tabbed .tabs .card .description p:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.main .message__sliders .container .carousel .tabbed .btn__slider input {
  display: none;
}
.main .message__sliders .container .carousel .tabbed .btn__slider input:checked + label {
  opacity: 1;
}
.main .message__sliders .container .carousel .tabbed .btn__slider label {
  display: inline-block;
  margin: 15px 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #24A3FF;
  opacity: 0.2;
  cursor: pointer;
}
.main .message__sliders .container .carousel .tabbed .btn__slider label:hover {
  opacity: 0.6;
}
.main .banner .container {
  margin: 0px auto;
}
.main .banner .container .wrapper .title {
  color: #323264;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.main .banner .container .wrapper .row {
  display: flex;
  flex-direction: row;
}
.main .banner .container .wrapper .row .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/4);
  height: 120px;
}
.main .banner .container .wrapper .row .card img {
  padding: 35px 0px;
  background: no-repeat center;
  cursor: pointer;
  width: 150px;
}
.main .banner .container .wrapper .header__row {
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
}
.main .banner .container .wrapper .header__row .card:nth-child(1) {
  background: #24A3FF;
}
.main .banner .container .wrapper .header__row .card:nth-child(2) {
  background: #143646;
}
.main .banner .container .wrapper .header__row .card:nth-child(3) {
  background: #F48B30;
}
.main .banner .container .wrapper .header__row .card:nth-child(4) {
  background: #9E4DC3;
}
.main .banner .container .wrapper .body__row .card:nth-child(1) {
  background: #FD9339;
}
.main .banner .container .wrapper .body__row .card:nth-child(2) {
  background: #E2E2E4;
}
.main .banner .container .wrapper .body__row .card:nth-child(3) {
  background: #C71C36;
}
.main .banner .container .wrapper .body__row .card:nth-child(4) {
  background: #DCF3F9;
}
.main .banner .container .wrapper .footer__row {
  border-radius: 0px 0px 12px 12px;
  overflow: hidden;
}
.main .banner .container .wrapper .footer__row .card:nth-child(1) {
  background: #EAEAEA;
}
.main .banner .container .wrapper .footer__row .card:nth-child(2) {
  background: #282240;
}
.main .banner .container .wrapper .footer__row .card:nth-child(3) {
  background: #1D4568;
}
.main .banner .container .wrapper .footer__row .card:nth-child(4) {
  background: #000000;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background: #F5F5FA;
  border-radius: 12px;
}
footer .container .news .wrapper {
  margin: 0px 50px;
}
footer .container .news .wrapper .row {
  padding: 15px 0px;
}
footer .container .news .wrapper .section__cards {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
  border-bottom: 2px solid #E6E6F0;
}
footer .container .news .wrapper .section__cards .card {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  border-radius: 12px;
  background: white;
  overflow: hidden;
  cursor: pointer;
}
footer .container .news .wrapper .section__cards .card:hover {
  box-shadow: 0 3px 3px #EDEDF7;
}
footer .container .news .wrapper .section__cards .card .img__card {
  display: block;
  height: 200px;
}
footer .container .news .wrapper .section__cards .card .title__card {
  margin: 30px 30px 0px;
}
footer .container .news .wrapper .section__cards .card .data__card {
  margin: 15px 30px;
}
footer .container .news .wrapper .section__cards .card .data__card p {
  color: #B3B3BA;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
}
footer .container .news .wrapper .section__cards .card .description {
  margin: 0px 30px 30px;
  padding: 15px 0px;
  border-top: 4px solid #E6E6F0;
}
footer .container .news .wrapper .section__cards .card .description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
footer .container .news .wrapper .section__cards .item1 .img__card {
  background: url(../publications/Publication-1.svg) no-repeat center;
}
footer .container .news .wrapper .section__cards .item2 {
  margin: 0px 70px;
}
footer .container .news .wrapper .section__cards .item2 .img__card {
  background: url(../publications/Publication-2.svg) no-repeat center;
}
footer .container .news .wrapper .section__cards .item3 .img__card {
  background: url(../publications/Publication-3.svg) no-repeat center;
}
footer .container .footer .wrapper {
  width: calc(100vw - 100px);
  margin: 0px 50px;
}
footer .container .footer .wrapper .row__top {
  padding: 25px 0px 0px;
  display: flex;
  justify-content: space-between;
}
footer .container .footer .wrapper .row__top .box1 p,
footer .container .footer .wrapper .row__top .box1 a {
  display: inline-block;
}
footer .container .footer .wrapper .row__top .box1 p {
  color: #323264;
  font-weight: 400;
  position: relative;
}
footer .container .footer .wrapper .row__top .box1 p::after {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
  top: 7px;
  right: -11px;
}
footer .container .footer .wrapper .row__top .box1 a {
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 15px;
  text-transform: uppercase;
}
footer .container .footer .wrapper .row__top .box2 p {
  color: #B3B3BA;
  font-weight: 400;
  font-size: 16px;
}
footer .container .footer .wrapper .row__bottom {
  margin-top: 15px;
}
footer .container .footer .wrapper .row__bottom ul {
  display: flex;
  align-items: center;
}
footer .container .footer .wrapper .row__bottom ul li {
  padding: 5px 13px;
  position: relative;
}
footer .container .footer .wrapper .row__bottom ul li::after {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #B3B3BA;
}
footer .container .footer .wrapper .row__bottom ul li:nth-child(1) {
  padding: 5px 15px 5px 0px;
}
footer .container .footer .wrapper .row__bottom ul li:nth-child(1)::after {
  top: 22px;
  right: -5px;
}
footer .container .footer .wrapper .row__bottom ul li:nth-child(2) a {
  color: #46466E;
  font-weight: 700;
  font-size: 16px;
}
footer .container .footer .wrapper .row__bottom ul li:nth-child(2)::after {
  top: 12px;
  right: -5px;
}
footer .container .footer .wrapper .row__bottom ul li:nth-child(3)::after {
  display: none;
}
footer .container .footer .wrapper .row__bottom ul li:nth-child(4) {
  display: none;
}
footer .container .footer .wrapper .row__bottom ul li .btn__facebook {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../icon/Facebook-Footer.svg) no-repeat center;
}
