@media screen and (max-width: 655px) {
  section form {
    padding: 20px;
  }
  section form .row h1 {
    font-size: 30px;
    line-height: 37px;
  }
  section form .row #close {
    margin: 0px 0px 7px 10px;
  }
}
