.message__sliders {
  display: flex;
  justify-content: center;
}
.message__sliders .container {
  margin: 80px 70px;
}
.message__sliders .container .carousel .tabbed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.message__sliders .container .carousel .tabbed .tabs .card {
  display: flex;
  background: #F5F5FA;
  border-radius: 12px;
}
.message__sliders .container .carousel .tabbed .tabs .card .photo__card {
  min-width: 400px;
  border-radius: 12px 0 0 12px;
  background: url(../photos/Alexander_Alexandrovsky.svg) no-repeat center;
}
.message__sliders .container .carousel .tabbed .tabs .card .description {
  padding: 30px;
  text-align: start;
}
.message__sliders .container .carousel .tabbed .tabs .card .description a {
  text-transform: uppercase;
}
.message__sliders .container .carousel .tabbed .tabs .card .description h3 {
  margin: 15px 0px 30px;
}
.message__sliders .container .carousel .tabbed .tabs .card .description p {
  color: grey;
}
.message__sliders .container .carousel .tabbed .tabs .card .description p:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.message__sliders .container .carousel .tabbed .btn__slider input {
  display: none;
}
.message__sliders .container .carousel .tabbed .btn__slider input:checked + label {
  opacity: 1;
}
.message__sliders .container .carousel .tabbed .btn__slider label {
  display: inline-block;
  margin: 15px 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #24A3FF;
  opacity: 0.2;
  cursor: pointer;
}
.message__sliders .container .carousel .tabbed .btn__slider label:hover {
  opacity: 0.6;
}
