.background__container{
  @import url(../styles/navigation.less);
  header{
    .container{
      .wrapper{
        background: none;
      }
    }
  }
  .main{
    padding: 60px;
    .wrapper{
      padding: 0px 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: white;
      h1{
        margin: 28px;
      }
      p{
        font-size: 19px;
        line-height: 30px;
        font-weight: 400;
      }
      .blue__button{
        margin-top: 30px;
        margin-bottom: 60px;
      }
      .line{
        border-top: 2px solid grey;
        padding-top: 30px;
        text-align: start;
        .body{
          display: flex;
          .left{
            margin-left: 8px;
          }
          .right{
            margin-right: 30px;
          }
          ul{
            margin: 37px;
            li{
              position: relative;
              max-width: 636px;
              font-weight: 400;
              font-size: 18px;
              line-height: 26px;
              &::before{
                content: '';
                position: absolute;
                top: 8px;
                left: -10px;
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: red;
              }
              &:nth-child(2){
                margin: 15px 0px 15px;
              }
              &:nth-child(4){
                margin-top:15px ;
              }
            }
          }
        }
      }
    }
  }
}
@import url(../styles/footer.less);

@media screen and (max-width:1024px) {
  .background__container{
    .main{
      .wrapper{
        padding: 0px;
      }
    }
  }
}
@media screen and (max-width:655px){
  .background__container{
    .main{
      .wrapper{
        .line{
          .body{
            flex-direction: column;
            .left{
              margin-top: 30px;
              margin-left: 10px;
            }
            .right{
              margin: 30px 0px 0px 10px;
            }
            ul{
              margin: 0;
            }
          }
        }
      }
    }
  }
}